<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerFragment">

<!-- 
	<div class="container-fluid text-center"
		style="background-color: #f2f2f2; padding: 25px">
		&copy; 2019 file manager
	</div>
 -->

<!-- Global script -->

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<!-- Local script -->
<th:block layout:fragment="script"></th:block>

</footer>

</html>