<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="script">
<script>
	const MP4_TNIL_COL = 0;
	const MP4_ROOT_COL = 1;
	const MP4_NAME_COL = 2;
	const MP4_SIZE_COL = 3;
	const MP4_PLAY_COL = 4;

	const titleH4 = $('#video-name');
	const video = $('#video');
	const fileTableBody = $('#file-table').children('tbody');
	const filePathIdx = {}; //{ idx: filePath }
	let curPlayIdx = -1;

	video[0].onended = function() {
		play(curPlayIdx + 1);
	};

	let depth = "[[ ${session.depth} ]]";
	if (depth.length == 0) depth = 0;
	let dirPath = "[[ ${session.dirPath} ]]";
	if (dirPath.length == 0) dirPath = '';

	function updateDir(_depth, _dirPath) {
		depth = _depth;
		dirPath = _dirPath;
		
		$('#sess-depth').text(depth);
		$('#sess-dir-path').text(dirPath);
	}

	function getNameFromPath(path) {
		const names = path.split('/');
		return names[names.length - 1];
	}

	let dest = `api/mp4-dir/${depth}/${getNameFromPath(dirPath)}`;
	$.ajax({ method: "GET", url: dest }).done(function(data, textStatus, xhr) {
		if (xhr.status != 200) return;
		let fileInfos = data.fileInfos;

		updateDir(data.depth, data.dirPath);

		// 파일 목록 추가
		appendFiles(fileInfos);
	});

	$('#go-to-parent-dir').click(function () {
		if (!depth || depth < 0)
			return;

		$.get(`api/mp4-dir/${depth - 1}`).done(function(data, textStatus, xhr) {
			if (xhr.status != 200) {
				alert('작업위치 변경 실패');
				return;
			}
			let fileInfos = data.fileInfos;

			// 기존 파일 목록 제거
			let fileTableRows = fileTableBody.children('tr');
			for (let i = 0; i < fileTableRows.length; i++) {
				fileTableRows[i].remove();
				filePathIdx[i] = undefined;
			}

			updateDir(data.depth, data.dirPath);

			// 파일 목록 추가
			appendFiles(fileInfos);
		});
	});

	function appendFiles(fileInfos) {
		let idx = 0;
		fileInfos.forEach(function(fileInfo) {
			let extStartIdx = fileInfo.name.lastIndexOf('.');
			let noExtFileName = fileInfo.name.substring(0, extStartIdx);
			let imgSrc = encodeURI(fileInfo.rootDirName + '/' + fileInfo.dirPath + '/' + noExtFileName + '.png');

			// Row
			let tr = document.createElement("tr");
			tr.style.textAlign = "center";

			// Col 0 : preview img
			let imgTd = document.createElement("td");
			imgTd.style.padding = "5px 5px 5px 5px";
			
			if (!fileInfo.dir) {
				let previewImg = document.createElement("img");
				previewImg.src = imgSrc;
				previewImg.width = 200;
				previewImg.alt = "";

				imgTd.appendChild(previewImg);
			}

			tr.appendChild(imgTd);
			
			// Col 1 : root dir-name
			let rootDirNameTd = document.createElement("td");
			rootDirNameTd.style.padding = "5px 5px 5px 5px";
			rootDirNameTd.innerText = fileInfo.rootDirName;

			tr.appendChild(rootDirNameTd);

			// Col 2 : name
			let nameTd = document.createElement("td");
			nameTd.style.padding = "5px 5px 5px 5px";
			if (fileInfo.dir) {
				let nameA = document.createElement("a");
				nameA.innerText = fileInfo.name;
				nameA.href = `javascript:getDir(${idx}, '${fileInfo.name}')`;
				nameTd.appendChild(nameA);
			} else {
				nameTd.innerText = fileInfo.name;
			}

			tr.appendChild(nameTd);
			
			// Col 3 : size
			let sizeTd = document.createElement("td");
			sizeTd.style.padding = "5px 5px 5px 5px";
			sizeTd.innerText = fileInfo.size + " KB";
			
			tr.appendChild(sizeTd);
			
			// Col 4 : play button
			let playTd = document.createElement("td");
			playTd.style.padding = "5px 5px 5px 5px";
			if (!fileInfo.dir) {
				let playA = document.createElement("a");
				playA.href = "javascript:play(" + idx + ")";
				playA.innerHTML = '<i class="fas fa-play"></i>';

				playTd.appendChild(playA);
			}

			tr.appendChild(playTd);

			// Complete appending an item
			fileTableBody.append(tr);
			filePathIdx[idx] = fileInfo.rootDirName + '/' + fileInfo.dirPath + '/' + fileInfo.name;
			idx++;
		});
	}
	
	function getDir(idx, dirName) {
		let filePath = filePathIdx[idx];
		if (filePath == undefined) {
			alert('해당 폴더를 찾을 수 없음');
			return;
		}

		if (!depth || depth < 0)
			depth = 0;

		$.get(`api/mp4-dir/${depth + 1}/${encodeURI(dirName)}`).done(function(data, textStatus, xhr) {
			if (xhr.status != 200) {
				alert('작업위치 변경 실패');
				return;
			}
			let fileInfos = data.fileInfos;

			// 기존 파일 목록 제거
			let fileTableRows = fileTableBody.children('tr');
			for (let i = 0; i < fileTableRows.length; i++) {
				let tr = fileTableRows[i];
				tr.remove();
				filePathIdx[i] = undefined;
			}

			// 경로 변경
			updateDir(data.depth, data.dirPath);

			// 파일 목록 추가
			appendFiles(fileInfos);
		});
	}

	function play(idx) {
		let tr = fileTableBody.children('tr')[idx];
		if (tr == undefined) return;

		let rootDirName = tr.children[MP4_ROOT_COL].innerText;  
		let fileName = tr.children[MP4_NAME_COL].innerText;
		// Request MP4
		let dest = encodeURI('api/mp4-files/' + rootDirName + '/' + fileName);
		$.ajax({ method: "GET", url: dest }).done(function(data, textStatus, xhr) {
			if (xhr.status != 200) return;
			let fileInfo = data;

			// title
			titleH4.text(fileInfo.name);

			// video tag
			let videoSrc = encodeURI(fileInfo.rootDirName + '/' + fileInfo.dirPath + '/' + fileInfo.name);
			video.find('source').attr('src', videoSrc);

			let trackSrc = videoSrc.substring(0, videoSrc.lastIndexOf('.')) + ".vtt";
			video.find('track').attr('src', trackSrc);
			if (window.navigator.userAgent.indexOf("MSIE ") >= 0 ||
					window.navigator.userAgent.indexOf("Trident/") >= 0) { //IE용 자막로드
				loadTrackWithAjax(video.find('track')[0]);
			}

			video[0].load();
			video[0].play();

			// file-table tr
			let prevTr = fileTableBody.children('tr').eq(curPlayIdx);
			if (curPlayIdx >= 0 && prevTr != undefined) {
				prevTr.css('color', 'black');
				prevTr.find('td').eq(MP4_PLAY_COL).find('a').append('<i class="fas fa-play"></i>');
			}

			let curTr = fileTableBody.children('tr').eq(idx);
			if (curTr != undefined) {
				curTr.css('color', 'dodgerblue');
				let extStartIdx = fileInfo.name.lastIndexOf('.');
				let noExtFileName = fileInfo.name.substring(0, extStartIdx);
				let imgSrc = encodeURI(fileInfo.rootDirName + '/' + fileInfo.dirPath + '/' + noExtFileName + '.png');
				curTr.children('MP4_TNIL_COL').children('img').attr('src', imgSrc);
				curTr.find('i').remove();
			}

			curPlayIdx = idx;
		}); //mp4-file ajax, done
	}

	function loadTrackWithAjax(track) {
		var xhttp = new XMLHttpRequest();
		
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200 && this.responseText) {
				var blob = new Blob([this.responseText], {type: 'text/vtt'});
				track.setAttribute('src', URL.createObjectURL(blob));
			}
		};
		xhttp.open('GET', track.src, true);
		xhttp.send();
	}

	function onVideoError(e) {
	  // video playback failed - show a message saying why
	  switch (e.target.error.code) {
	    case e.target.error.MEDIA_ERR_ABORTED:
	      alert('You aborted the video playback.');
	      break;
	    case e.target.error.MEDIA_ERR_NETWORK:
	      alert('A network error caused the video download to fail part-way.');
	      break;
	    case e.target.error.MEDIA_ERR_DECODE:
	      alert('The video playback was aborted due to a corruption problem or because the video used features your browser did not support.');
	      break;
	    case e.target.error.MEDIA_ERR_SRC_NOT_SUPPORTED:
	      alert('The video could not be loaded, either because the server or network failed or because the format is not supported.');
	      break;
	    default:
	      alert('An unknown error occurred.');
	      break;
	  }
	}

	/**
	 * Open the video in fullscreen.
	 * Note that we must include prefixes for different browsers, as they don't support the requestFullscreen method yet
	 */
	function openFullscreen() {
		var elem = video[0];

		if (elem.requestFullscreen) {
			elem.requestFullscreen();
		} else if (elem.mozRequestFullScreen) { /* Firefox */
			elem.mozRequestFullScreen();
		} else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
			elem.webkitRequestFullscreen();
		} else if (elem.msRequestFullscreen) { /* IE/Edge */
			elem.msRequestFullscreen();
		}
	}

</script>
</th:block>

<div layout:fragment="content" class="container-fluid">
	<div style="height: 10px"></div>

	<div>
		<!-- 현재 작업위치 표시 -->
		현재 경로 :
		[
		<span id="sess-depth" th:text="${session.depth}"></span>
		] 
		<span id="sess-dir-path" th:text="${session.dirPath}"></span>

		<!-- 상위폴더 버튼 -->
		<button id="go-to-parent-dir" class="btn btn-primary btn-sm"><i class="fas fa-level-up-alt"></i></button>
	</div>

	<h4 id="video-name"></h4>

	<hr>

	<a href="javascript:openFullscreen()" style="float: right">전체화면</a>

	<video id="video" width="100%" controls onerror="onVideoError(event)">
		<source src="">
		<track label="Korean" kind="subtitles" srclang="ko" src="" default>
	</video>

	<hr>

	<h4>재생 목록</h4>

	<table id="file-table" class="table-responsive table-striped">
		<thead>
			<tr style="text-align: center"><th></th><th>그룹</th><th>파일명</th><th>크기</th><th></th>
		</thead>
		<tbody></tbody>
	</table>

</div>

</html>